.aboutMeSection {
  padding: 5rem;
  background-color: #1C1C2E;
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.125rem;
  line-height: 1.6;
}
